<html>
    <head>
        <title>{{titulo}}</title>
    </head>
    <body>
        <h1>Mi nombre es {{nombre}}</h1>
        {{#datos}}
            <li>{{nombre}} - {{edad}}</li>
        {{/datos}}
    </body>
</html>